form{
  text-align: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding:50px;
}
ul{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
}

#textField{
  border-radius: 25px;
  border: 1px solid #000000;
  padding: 20px;
  width: 450px;
  height: 1px;
}
#lucky,#srchbtn{
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}



